/* SERVER CARD */
.card {
	padding: 15px;
	border-radius: 14px;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(10px);
	cursor: pointer;
	transition: 0.2s;
	position: relative;
	overflow: hidden;
}

.card:hover {
	background: rgba(255, 255, 255, 0.2);
	transform: translateY(-4px);
}

/* Neon animated border */
.card::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 14px;
	padding: 2px;
	background: linear-gradient(45deg, #00d0ff, #ff00cc, #7700ff);
	mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
	mask-composite: exclude;
	animation: neonRotate 4s linear infinite;
	opacity: 0.35;
}


/* Card Bootstrap Dark */
.card {
	background: transparent !important;
	border: 1px solid rgba(255, 255, 255, 0.15) !important;
	color: #fff !important;
}

/* Ajuste do texto dentro do card */
.card .mono {
	color: #fff !important;
}

@keyframes neonRotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}